body {
    background: #fff;
    color: black;
    margin: 0;
    padding-top: 0;
    font-family: 'Montserrat', sans-serif;
}

/* Estilo del título */
#ranchaapH1 {
    padding-top: 10px;
    padding-right: 30px;
    font-size: 2em;
    color: #000000;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar {
    display: flex; /* Flexbox para alinear horizontalmente */
    justify-content: center; /* Centra los botones horizontalmente */
    background-color: transparent; /* Fondo transparente */
    padding: 10px 0; /* Espaciado vertical */
    position: fixed; /* Añadido para hacerla fija */
    top: 0; /* Asegura que esté en la parte superior */
    width: 100%; /* Para que ocupe todo el ancho */
    z-index: 1000; /* Asegura que esté sobre otros elementos */
    
}

/* Estilos para la lista */
.nav-list {
    list-style-type: none; /* Elimina los puntos de la lista */
    display: grid; /* Usa CSS Grid para organizar los botones */
    grid-template-columns: repeat(3, auto); /* Tres columnas para los botones */
    gap: 10px; /* Espaciado entre botones */
    background: #155da1; /* Color de fondo para el área de botones */
    padding: 10px; /* Espaciado interno */
    border-radius: 35px; /* Bordes redondeados */
}

/* Estilos para los botones */
.nav-list button {
    font-size: 1.5em;
    background:transparent; /* Color de fondo de los botones */
    color: white; /* Color del texto de los botones */
    border: none; /* Elimina el borde predeterminado */
    padding: 10px 20px; /* Espaciado interno de los botones */
    cursor: pointer; /* Cambia el cursor al pasar sobre los botones */
    border-radius: 35px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave al hacer hover */
}

/* Efecto hover para los botones */
.nav-list button:hover {
    background:rgba(31, 18, 87, 0.5); /* Color de fondo al hacer hover */
    color: white;
}


#img-banner{
    position: absolute;
    top: 0; /* Posicionada en la parte superior de la página */
    right: 0; /* Alineada al lado derecho de la página */
    height: auto; /* Mantiene la proporción de la imagen */
  }
.img-logo{
    position: absolute;
    top: 200px; /* Posicionada en la parte superior de la página */
    text-align: center;
    left: 0; /* Alineada al lado derecho de la página */
    padding-left: 150px;
    height: auto; /* Mantiene la proporción de la imagen */
}
.p-img-logo{
    position: absolute;
    width: 50%;
    top: 580px; /* Posicionada en la parte superior de la página */
    text-align: left;
    left: 0; /* Alineada al lado derecho de la página */
    padding-left: 70px;
    height: auto; /* Mantiene la proporción de la imagen */
    font-family: 'Montserrat', sans-serif;
    color: #706d6d;
    }

#botones-descarga{
    padding-left: 180px;
}
.boton-logo{
    position: relative;
    top: 720px;
    margin-left: 20px;
    font-size: 1.3em;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background-color:#155da1 ;
    padding: 10px;
    border-radius: 35px;
    border-color: transparent;
}


#p-span{
    top:20%;
    display: none;
    font-size: 0.7em;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 1200px) {
    .nav-list {
        grid-template-columns: repeat(3, auto); /* Los botones se apilan verticalmente en pantallas pequeñas */
        text-align: center; /* Centra los botones */
    }

    .nav-list button {
        font-size: 1.3em;
        width: 100%; /* Los botones ocupan todo el ancho disponible */
    }
    #img-banner {
        position: absolute;
        top: 0; /* Posicionada en la parte superior de la página */
        right: 0; /* Alineada al lado derecho de la página */
       height: auto;
       width: 62%;
      }
    .img-logo {
        position: absolute;
        top: 130px; /* Posicionada en la parte superior de la página */
        text-align: center;
        left: 0; /* Alineada al lado derecho de la página */
        padding-left: 50px;
        width: 25vh;
        height: auto; /* Mantiene la proporción de la imagen */
    
      }
    .p-img-logo {
        position: absolute;
        top: 40%; /* Posicionada en la parte superior de la página */
        text-align: left;
        left: 0; /* Alineada al lado derecho de la página */
        padding-left: 50px;
        width: 45vh;
        height: auto; /* Mantiene la proporción de la imagen */
    
      }
     /* Estilo del título */
    #ranchaapH1 {
        display: none;
      }

    #botones-descarga{
        padding-top: 110px;
        padding-left: 40px;
    }
    .boton-logo{
        position: relative;
        top: 410px;
        font-size: 0.8em;
    }

}

@media (max-width: 780px) {
    .nav-list {
        margin-top: 0;
      /*  grid-template-columns: repeat(3, auto); /* Los botones se apilan verticalmente en pantallas pequeñas */
        text-align: center; /* Centra los botones */
    }

    .nav-list button {
        font-size: 0.6em;
        width: 100%; /* Los botones ocupan todo el ancho disponible */
        height: 100%;
    }
    .nav-list button:hover {
        background:rgba(31, 18, 87, 0.5); /* Color de fondo al hacer hover */
        color: white;
        
    }
    #img-banner{
        position: absolute;
        top: 0%; /* Posicionada en la parte superior de la página */
        right: 0; /* Alineada al lado derecho de la página */
       height: auto;
       width: 62%;
      }
      .img-logo {
        position: absolute;
        top: 9%; /* Posicionada en la parte superior de la página */
        padding-left: 50px;
        width: 20%;
        height: auto; /* Mantiene la proporción de la imagen */
    
      }
      .p-img-logo {
        font-size: 1em;
        position: absolute;
        top: 27%; /* Posicionada en la parte superior de la página */
        text-align: center;
        left: 0; /* Alineada al lado derecho de la página */
        padding-left: 10px;
        width: 245px;
        height: auto; /* Mantiene la proporción de la imagen */
    
      }
      /* Estilo del título */
    #ranchaapH1 {
      display: none;
    }

    #botones-descarga{
        padding-left: 60px;
        
    }
    .boton-logo{
        position: relative;
        top: 250px;
        font-size: 0.6em;
        margin-left: 0;
    }

}
@media (max-width: 550px) {
    .p-img-logo {
        position: absolute;
        top: 22%; /* Posicionada en la parte superior de la página */
        text-align: center;
        left: 0; /* Alineada al lado derecho de la página */
        padding-left: 10px;
        width: 210px;
        height: auto; /* Mantiene la proporción de la imagen */
    
      }
      #botones-descarga{
        padding-left: 40px;
        
    }
    .boton-logo{
        position: relative;
        top: 250px;
        font-size: 0.6em;
        margin-left: 0;
    }
}

@media (max-width:450px) {
    .img-logo {
        position: absolute;
        top: 7%; /* Posicionada en la parte superior de la página */
        padding-left: 40px;
        width: 20%;
        height: auto; /* Mantiene la proporción de la imagen */
    
      }
    #pie-img{
        display: none;
    }
    #p-span{
    display: grid;
    font-family: 'Montserrat', sans-serif;
   
    }
    .p-img-logo {
        position: absolute;
        top: 150px; /* Posicionada en la parte superior de la página */
        text-align: left;
        left: 0;
        padding-left: 10px;
        width: 60%;
        height: auto; /* Mantiene la proporción de la imagen */
    
      }
    #botones-descarga{
        padding-left: 25px;
    }
    .boton-logo{
        position: relative;
        top: 80px;
        font-size: 0.3em;
    }
}

@media (max-width:350px) {
    .p-img-logo {
        position: absolute;
        top: 125px; /* Posicionada en la parte superior de la página */
        text-align: center;
        padding-left: 5px;
        width: 50%;
        height: auto; /* Mantiene la proporción de la imagen */
    
      }
    #botones-descarga{
        padding-left: 20px;
    }
    .boton-logo{
        position: relative;
        top: 80px;
        font-size: 0.3em;
    }
}



.cuadrados {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 860px;
  }
  
  .cuadro {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 15px;
    width: calc(25.33% - 40px);
    opacity: 0; /* inicialmente oculto */
    transform: translateY(10px); /* inicialmente fuera de la pantalla */
    transition: opacity 0.5s, transform 0.5s; /* add transition effect */
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #706d6d;
  }
  
  .scroll-reveal {
    opacity: 1; /* mostrar cuando se scrollea */
    transform: translateY(00.5s); /* mostrar en su posición original */
  }
  
  
  .cuadro:hover {
    transform: scale(1.1); /* add hover effect */
  }
  
  .icono {
    width: 80px; /* ajusta el tamaño de la imagen */
    height: 80px; /* ajusta el tamaño de la imagen */
    margin-bottom: 10px;
    text-align: center;
    object-fit: cover; /* ajusta la imagen para que se adapte al tamaño */
  }
  
  /* Media query for responsive design */
  @media (max-width: 1200px) {
    .cuadrados {
       margin-top: 650px;
    }
    .cuadro {
      width: calc(25% - 40px);
    }
  }

  @media (max-width: 700px) {
    .cuadrados {
        margin-top: 500px;
     }
    .cuadro {
      width: 60%;
    }
  }
  
  @media (max-width: 480px) {
    .cuadrados {
        margin-top: 350px;
     }
    .cuadro {
      width: 60%;
    }
  }


  .imagnes-lado-izquierdo{
    width: 100%; /* establecer un ancho del 100% */
    float: left; /* agregar float: left para que se alinee a la izquierda */
  }
  
  #contenedor-imgs{
    width: 100%; /* establecer un ancho del 100% */
    float: left; /* agregar float: left para que se alinee a la izquierda */
    position: relative; /* agregar position: relative para que la imagen 2 se posicione absolutamente */
  }
  
  #imagen-celular-izquierda{
    position: absolute; /* agregar position: absolute para que la imagen 2 se posicione absolutamente */
    top: 400px; /* agregar top: 0 para que la imagen 2 se posicione en la parte superior */
    left: 50px; /* agregar left: 0 para que la imagen 2 se alinee a la izquierda */
    width: 100%; /* establecer un ancho del 100% */
  }
  
  /* Agregar regla para recortar el tamaño del contenedor variando la proporción de la pantalla */
  
  @media (max-width: 1920px) {
    #contenedor-imgs{
      width: 40%; /* recortar el ancho a un 40% */
      height: auto; /* mantener la altura automática */
      float: left; /* agregar float: left para que se alinee a la izquierda */
    }
    #imagen-celular-izquierda{
      width: 80%; /* recortar el ancho a un 40% */
    }
  }
  
  @media (max-width: 1366px) {
    #contenedor-imgs{
      width: 50%; /* recortar el ancho a un 30% */
      height: auto; /* mantener la altura automática */
      float: left; /* agregar float: left para que se alinee a la izquierda */
    }
    #imagen-celular-izquierda{
      width: 80%; /* recortar el ancho a un 30% */
      top: 300px;
    }
  }
  
  @media (max-width: 1100px) {
    #contenedor-imgs{
      width: 40%; /* recortar el ancho a un 20% */
      height: auto; /* mantener la altura automática */
      float: left; /* agregar float: left para que se alinee a la izquierda */
    }
    #imagen-celular-izquierda{
      width: 80%; /* recortar el ancho a un 20% */
      top: 200px;
      left: 0px;
    }
  }
  
  @media (max-width: 768px) {
    #contenedor-imgs{
      width: 40%; /* recortar el ancho a un 10% */
      height: auto; /* mantener la altura automática */
      float: left; /* agregar float: left para que se alinee a la izquierda */
    }
    #imagen-celular-izquierda{
      width: 78%; /* recortar el ancho a un 10% */
      top: 150px;
      left: 0px;
    }
  }
  
  @media (max-width: 480px) {
    #contenedor-imgs{
      display: none;
      width: 40%; /* recortar el ancho a un 5% */
      height: auto; /* mantener la altura automática */
      float: left; /* agregar float: left para que se alinee a la izquierda */
    }
    #imagen-celular-izquierda{
      display: none;
      width: 75%; /* recortar el ancho a un 5% */
      top: 100px;
      left: 0px;
    }
  }
  
  @media (max-width: 320px) {
    #contenedor-imgs{
      width: 35%; /* recortar el ancho a un 2% */
      height: auto; /* mantener la altura automática */
      float: left; /* agregar float: left para que se alinee a la izquierda */
    }
    #imagen-celular-izquierda{
      width: 80%; /* recortar el ancho a un 2% */
      top: 50px;
      left: 0px;
    }
  }


  #contenedor-iconos {
    display: flex;
    flex-direction: column; /* Organiza los iconos en una columna */
    padding-top: 500px;
    width: 50%;
  }
  
  .icono2 {
    display: flex; /* Usar Flexbox para alinear icono y texto */
    align-items: center; /* Alinear verticalmente al centro */
    margin-bottom: 50px; /* Espacio entre los iconos */
  }
  
  .img-iconos-derechaDelCelu {
    margin-right: 15px; /* Espacio entre el icono y el texto */
    max-width: 90px; /* Limitar el tamaño del icono */
  }
  
  .icono2 div {
    display: flex;
    flex-direction: column; /* Coloca el título encima del texto */
  }
  
  h4, p {
    font-size: 1.5em;
    margin: 0; /* Eliminar márgenes por defecto para evitar apilamiento */
  }
  #texto-iconos2{
    color:#636262 ;
  }
  
/* Responsividad */
@media (max-width: 1100px) {
  #contenedor-iconos {
    padding-top: 200px; /* Reducir el padding en pantallas más pequeñas */
    max-width: 50vh;
  }
  
  .icono2 {
    flex-direction: row; /* Mantener el icono a la izquierda */
  }

  .img-iconos-derechaDelCelu {
    max-width: 40px; /* Ajustar el tamaño del icono */
  }
}


  /* Responsividad */
  @media (max-width: 768px) {
    #contenedor-iconos {
      padding-top: 100px; /* Reducir el padding en pantallas más pequeñas */
    }
    
    .icono2 {
      flex-direction: row; /* Mantener el icono a la izquierda */
    }
  
    .img-iconos-derechaDelCelu {
      max-width: 40px; /* Ajustar el tamaño del icono */
    }
    h4, p {
      font-size: 1em;
      margin: 0; /* Eliminar márgenes por defecto para evitar apilamiento */
    }
  }
  
  @media (max-width: 480px) {
    #contenedor-iconos {
      display: contents;
    text-align: center;
  }
    #icono-1{
      padding-top: 45px;
    }
    .icono2 {
      flex-direction: column; /* Cambiar a columna en pantallas muy pequeñas */
      align-items: center; /* Alinear a la izquierda */
      text-align: center;
    }
  
    .img-iconos-derechaDelCelu {
      margin-bottom: 10px; /* Espacio entre el icono y el texto */
    }
  }
  /* Animaciones para imágenes e iconos (sin inicializar) */
.imagnes-lado-izquierdo,
.icono2 {
  opacity: 0;
  transform: translateX(-50px); /* Para las imágenes de la izquierda */
  transition: transform 1s ease, opacity 1s ease;
}

/* Cuando se vuelve visible, aplicamos animación desde la izquierda */
.animated-left {
  opacity: 1;
  transform: translateX(0);
}

/* Cuando se vuelve visible, aplicamos animación desde la derecha */
.animated-right {
  opacity: 1;
  transform: translateX(0);
}
